* {
    font-family: Cantarell, sans-serif;
    background-color: #121619;
    color: #FFF9FB;
}

.main-heading {
    text-align: center;
}

.sub-heading {
    text-align: center;
}

.text {
    width: 500px;
    margin: auto;
}

.images {
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 500px;
    border: 3px solid #FFF9FB;
    border-radius: 10px;
}

.home-link {
    display: block;
    text-align: center;
}

ol, ul {
    padding-left: 10px;
}