* {
    box-sizing: border-box;
}

body {
    font-family: Cantarell, sans-serif;
    background-color: #121619;
    color: #FFF9FB;
}

.main-heading {
    text-align: center;
}

.sub-heading {
    text-align: center;
}

.text {
    max-width: 500px;
    margin: auto;
}

.images {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
    border: 3px solid #FFF9FB;
    border-radius: 10px;
}

ol, ul {
    padding-left: 10px;
}

a {
    color: #FFF9FB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-link {
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color: #FFF9FB;
    color: #121619;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}